In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import scipy.stats as stats

This is a peer comparison project. Suppose that you are working for Samsung in customer experience management team. 
The idea is to regularly monitor the customer satisfaction levels and peer company moves. The competitor company is Apple.
The objective is to test two main hypothesis.
1. The Samsung Average customer satisfaction score is minimum 75%.
2. The overall average satisfaction score of Samsung is same as Apple. There is no significant difference in the 
satisfaction scores
â€¢ It might be possible that both hypothesis are correct, one
of them is correct or both of them are wrong. Perform the
relevant testing to verify these assumptions
The data is collected for 100 Samsung customers and 100
Apple customers. Their satisfaction scores are recorded. The
sample represent the data and it is unbiased.

In [3]:
data=pd.read_csv("Testing_Of_Hypothesis.csv")

In [4]:
data.head()

   Sr No S_Cust_id  Samsung Score Apple_Cust_id  Apple_Score
0      1   S336499             94       A336525           82
1      2    S73004             99        A73011           83
2      3    S79537             74        A79538           88
3      4   S769168             74       A769222           80
4      5   S609791             83       A609801           74

In [5]:
data.shape

(100, 5)

1. The Samsung Average customer satisfaction score is minimum 75%.

In [8]:
stats.ttest_1samp(data['Samsung Score'],popmean=75)

Ttest_1sampResult(statistic=8.358287450922418, pvalue=4.0739777034636007e-13)

In [9]:
# Ho : mu<=75

# Ha : mu>75

# CI=99%

p_value=0.01

if stats.ttest_1samp(data['Samsung Score'],popmean=75)[1]<p_value:
    print("Customer satisfaction is greater than 75%.")
else:
    print("Customer satisfaction is less than to 75%.")

Customer satisfaction is greater than 75%.

2. The overall average satisfaction score of Samsung is same as Apple. There is no significant difference in the 
satisfaction scores

In [13]:
stats.ttest_ind(a=data['Samsung Score'] , b=data.Apple_Score)

Ttest_indResult(statistic=-1.9064295935043472, pvalue=0.058042614444118075)

In [11]:
# Ho: Average satisfaction score of Samsung is same as Apple.

# Ha: There is significant difference in the satisfaction scores.

# CI=95%

p_value=0.05

if stats.ttest_ind(a=data['Samsung Score'] , b=data.Apple_Score)[1]<p_value:
    print("There is significant difference in the satisfaction scores.")
else:
    print("Average satisfaction score of Samsung is same as Apple.")

Average satisfaction score of Samsung is same as Apple.